/Core/Project.WebAPI/bin
/Core/Project.WebAPI/obj
/Angular/Project.Site/obj
/Angular/Project.Site/bin
/Angular/Project.Site/node_modules
/Core/Project.WebAPI/node_modules
/Core/Project.Entities/bin
/Core/Project.Entities/obj
/Core/Project.BusinessComponents/bin
/Core/Project.BusinessComponents/obj
/Core/Project.DataAccess/bin
/Core/Project.DataAccess/obj

/Core/Project.DependencyInjections/bin
/Core/Project.DependencyInjections/obj
/Core/XUnitTestProject/bin
/Core/XUnitTestProject/obj
